name: Auto Format All PRs

on:
  pull_request_target:
    types: [opened, synchronize, reopened]

jobs:
  format-bot:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout PR Branch
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          fetch-depth: 0

      - uses: DeterminateSystems/nix-installer-action@main
      - run: nix fmt

      - name: Push Changes Back
        shell: bash
        env:
          PR_BRANCH: ${{ github.event.pull_request.head.ref }}
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            git config --global user.name "github-actions[bot]"
            git config --global user.email "github-actions[bot]@users.noreply.github.com"
            
            git add .
            git commit -m "style: auto-format with nix fmt"
            git push origin "HEAD:$PR_BRANCH"
          fi